<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcelopaglione.asprova2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Questao6_MainActivity"
            android:label="@string/title_activity_questao6__main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Questao7_MainActivity"
            android:label="@string/title_activity_questao7__main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Questao7_add_MainActivity"
            android:label="@string/title_activity_questao7_add__main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Questao7_mostrar_MainActivity"
            android:label="@string/title_activity_questao7_mostrar__main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
